#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(images/clock.png) no-repeat;
    background-size: 100%;
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1%;
    height: 21.8%;
    top: 29%;
    left: 49.3%;
    opacity: 0.8;
}

#minute{
    width: 0.6%;
    height: 26%;
    top: 24.6%;
    left: 49.6%;
    opacity: 0.8;
    

}

#second{
    width: 0.2%;
    height: 37%;
    top: 13.3%;
    left: 49.8%;
    opacity: 0.8;
}
